*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
    /*margin: 0px auto;
    max-width: 1909px;*/
    background: #0e0e0e;
    height: 100%;
}
.text {
    margin: 0 20%;
    height: 100%;
    max-width: 1909px;
    color:yellow;
    /*-webkit-user-select: none;
    background-color: 300ms;*/
    height: 885px;
    -webkit-animation: move 5s steps(50) infinite;
    animation: text 5s steps(50) infinite;
}
h1 {
    text-align: center;
}
/*@keyframes text {
    from {
        left: 50px;
        bottom: 0px;
    }
    to {
        left: 50px;
        bottom: 800px;
    }*/
   /* -webkit-animation: step 5s steps(50) infinite;
   animation: step 5s steps(50) infinite;
    .text {animation-timing-function: top;
    animation-direction: column;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-name: text;
    }*/
@keyframes text {
    0% { width: 800px;
        margin: 0 auto;
        padding: 0 auto;
    }
   100% {width:400px;
margin: 50px 250px}
}
